@import url('@patternfly/patternfly/patternfly.css');

#root {
  margin: 0 auto;
  padding: 0.1rem;
  text-align: center;

  --soft-aloy: #D1D1D1;
  --deep-indigo: #1B1A4F;
  --electric-orchid: #805EE5;
  --orange-burst: #DD691B;
  --neon-lime: #C2E45E;
  --green-ready-status: #24A148;
  --organge-queued-status: #FFA800;
  --blue-pringting-status: #2979FF;
  --purple-ejected-status: #9C27B0;

  --background-color-light: #D1D1D1;
  --box-color-light: #FFFF;
  --background-color-dark--blue: #1B1A4F;
  --background-color-light--green: #24A14810;

  --border-radius-m: 10px;

}

.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: transparent !important;

  color: black;
  color-scheme: light dark;
  /* font-size: calc(10px + 2vmin); */
  height: 3.5rem;
  justify-content: center;
  display: flex;
  padding-bottom: 0.05rem;
  padding-top: 0.05rem;
  margin: 0.05rem;
  align-items: center;
  justify-content: flex-end;
}

.Main-header {
  background-color: transparent !important;
  justify-content: start;
  text-wrap: nowrap;
}

.pf-v6-c-timestamp {
  color: white;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pf-c-grid {
  height: 100% !important;
}

.pf-custom-navbar {
  /* width: 15rem; */
  width: 100%;
  min-width: min-content;
  color: white !important;
  /* border-radius: var(--border-radius-m); */
  background-color: var(--background-color-dark--blue);
  /* margin: 0.05rem; */
  justify-self: center;
  /* height: calc(100vh - 3.6rem); */
  height: 100%;
  border-radius: 5rem;
}

.pf-c-padding-right {
  padding-right: 1rem;
}

.pf-custom-top-toolbar {
  /* width: calc(100% - 15.1rem); */
  width: 100%;
  height: 2.5rem !important;
  background-color: var(--box-color-light);
  border-radius: var(--border-radius-m);
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  align-items: flex-end;
  justify-content: flex-start;
  padding-right: 0.5rem !important;
}

.pf-v6-c-page__main-section {
  margin: 0;
  border-radius: 10px;
  height: calc(100vh - 4.5rem);
}

.pf-custom-main {
  padding: 0;
  display: flex;
  /* height: calc(100vh - 2.75rem); */
}

.pf-v6-c-page__main-body {
  /* display: flex; */
}

.pf-c-table {
  table-layout: fixed;
  width: 100%;
  /* overflow: auto; */
}

.pf-custom-add-button {
  background-color: var(--background-color-dark--blue) !important;
  border-radius: 10px;
  color: #FF832B !important;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 2rem;
  justify-content: center !important;
  align-items: center !important;
}

.pf-custom-start-button {
  background-color: var(--background-color-light--green) !important;
  border-radius: 10px;
  border: #24A148 solid 1px;
  color: #24A148 !important;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 2rem;
  justify-content: center !important;
  align-items: center !important;
  margin-right: 1rem;
}

.pf-c-navbar-button-active {
  padding-inline: 0 !important;
  font-size: large !important;
  color: var(--neon-lime) !important;
  border-radius: 0.5rem !important;
  background-color: transparent !important;
}

.pf-c-navbar-button {
  padding-inline: 0 !important;
  font-size: large !important;
  border-radius: 0.5rem !important;
  color: var(--background-color-light) !important;
  background-color: transparent !important;
}

.pf-v6-c-button {
  justify-content: center !important;
  align-items: center !important;
  border-radius: 10px !important;
}

.pf-v6-c-nav__list {
  row-gap: 0;
}

.pf-custom-nav-icon {
  height: 30px;
  display: inline-flex;
  flex-direction: column;
}

.pf-m-primary.pf-custom-button {
  background-color: #1B1A4F;
  border-radius: 10px;
  color: #FF832B;
  margin: 0.2rem
}

.pf-custom-button:disabled {
  background-color: #888;
  color: #1B1A4F;
}

.pf-custom-upload-file-modal {
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;

}

.pf-c-overflow-auto {
  overflow: auto;
}

.pf-custom-dashboard {
  background-color: var(--box-color-light) !important;
  border-radius: 10px;
  /* height: calc(100vh - 4.5rem); */
  height: 100%;
  display: flex;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  /* align-items: center; */
}

/* @media (min-width: 1200px) {
  .pf-v6-c-page {
     display: flow-root;
     height: calc(100vh - 2.75rem);
  }
} */

.pf-v6-c-modal-box.pf-custom-print-task-modal {
  background-color: #fff;
  padding: 20px;
  width: 60%;
  max-width: 900px;
  align-self: center;
  position: static;
  margin: 20px;
  border-radius: 10px;
}

.pf-custom-print-task {
  background-color: #fff;
  padding: 20px;
  width: 60%;
  align-self: center;
  position: static;
  border-radius: 10px;
  display: flow-root;
  justify-self: center;
}

.pf-v6-c-modal-box__footer {
  padding: 0;
  justify-content: flex-end;
}

.pf-v6-c-backdrop {
  background-color: #00000066;

}

.pf-v6-c-multiple-file-upload__status-item {
  font-size: small;
}

.pf-v6-c-progress__bar {
  height: 0.5rem;
}

.pf-v6-c-progress__indicator {
  height: 0.5rem;
}

.pf-custom-new-print-job-modal {
  display: flex;
  width: 60%;
  max-width: 900px;
  align-items: center;
}


.pf-custom-new-print-queue-modal {
  display: flex;
  width: 60%;
  max-width: 900px;
  align-items: center;
}

.pf-custom-new-printer-modal {
  display: flex !important;
  width: 60% !important;
  max-width: 900px;
  align-items: center !important;
  /* padding: 1rem !important; */
}

.pf-custom-new-ottoeject-modal {
  display: flex !important;
  width: 60% !important;
  max-width: 900px;
  align-items: center !important;
}

.pf-custom-new-ottorack-modal {
  display: flex !important;
  width: 60% !important;
  max-width: 900px;
  align-items: center !important;
}

.pf-custom-new-print-job {
  height: auto;
  padding: 2rem;
  border-radius: 10px;
  justify-self: center;
}

.pf-custom-new-print-queue {
  height: auto;
  padding: 2rem;
  border-radius: 10px;
  justify-self: center;
}

.pf-custom-new-printer {
  height: auto !important;
  padding: 2rem !important;
  border-radius: 10px !important;
  justify-self: center !important;
}

.pf-custom-new-ottoeject {
  height: auto !important;
  padding: 2rem !important;
  border-radius: 10px !important;
  justify-self: center !important;
}

.pf-custom-new-ottorack {
  height: auto !important;
  padding: 2rem !important;
  border-radius: 10px !important;
  justify-self: center !important;
}

.pf-custom-new-print-job-modal-footer {
  padding-top: 1rem;
}

.pf-custom-align-center-vertically {
  display: flex;
  justify-content: center;
  height: auto;
}

.pf-custom-new-ottoeject-modal-footer {
  padding-top: 1rem;
}

.pf-custom-new-ottorack-modal-footer {
  padding-top: 1rem;
}

.pf-custom-text-align-left {
  text-align-last: left;
}

.pf-custom-align-center {
  display: flex;
  justify-content: center;
}

.pf-custom-upload-button-footer {
  justify-self: end;
  padding-right: 0;
  padding-bottom: 0;
}

.pf-custom-no-padding {
  padding: 0;
}

.pf-custom-modal-icon {
  padding-right: 1rem;
  height: 30px;
  vertical-align: sub;
  color: #805EE5;
}

.pf-custom-upload-header {
  padding-top: 0 !important;
  padding-bottom: 1rem;
  justify-self: left;
}

.pf-custom-print-detail-footer {
  padding: 1rem;
}

.pf-custom-frame-border {
  border: solid;
  border-radius: 10px;
  padding: 2rem;
}

.pf-c-form-group {
  border: 1px solid #805EE5;
  padding: 2rem;
  position: relative;
  border-radius: 10px;
}

.pf-custom-border-label {
  position: absolute;
  top: -0.7rem;
  left: 1rem;
  background-color: white;
  padding: 0 0.5rem;
  font-size: 0.875rem;
  color: #805EE5;
}

.pf-custom-thumbnail {
  width: 100%;
  border-radius: 10px;
}

.pf-custom-formGroup {
  align-items: center;
  font-size: large;
  font-weight: bold;
}

.pf-custom-rack-render {
  display: flex;
  flex-direction: column-reverse;
  height: auto;
  align-items: center;
  padding-bottom: 1rem;
}




/* From Uiverse.io by taieb1919 */
.customCheckBoxHolder {
  margin: 5px;
  display: flex;
  flex-direction: column;
  /* Stack items vertically */
  align-items: center;
  /* Center items horizontally */
}

.customCheckBox {
  width: 100%;
  /* Ensures each checkbox has the same width */
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  padding: 2px 8px;
  /* background-color: rgba(0, 0, 0, 0.16); */
  background-color: #805EE550;
  border-radius: 0.5rem;
  /* color: rgba(255, 255, 255, 0.7); */
  color: #1B1A4F;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: color, background-color, box-shadow;
  display: flex;
  height: 32px;
  align-items: center;
  box-shadow:
    rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset,
    rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
  outline: none;
  justify-content: center;
  min-width: 55px;
}

.customCheckBox:hover {
  /* background-color: #2c2c2c; */
  background-color: #805EE5;
  color: white;
  box-shadow:
    rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset,
    rgba(255, 255, 255, 0.17) 0px -1px 1px 0px,
    rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBox.inner {
  font-size: 18px;
  font-weight: 900;
  pointer-events: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: transform;
  transform: translateY(0px);
}

/* .customCheckBox:hover.inner {
  transform: translateY(-2px);
} */

.customCheckBoxWrapper {
  width: 100%;
  /* Ensures each wrapper takes full width of the holder */
}

/* Multiple Checkboxes can be chained together for a radio input */
.customCheckBoxWrapper:first-of-type.customCheckBox {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-right: 0px;
}

.customCheckBoxWrapper:last-of-type.customCheckBox {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 0px;
}

.customCheckBoxInput {
  display: none;
}

.pf-v6-c-table__tr>Tr {
  border: none;
}

.pf-c-printJob-table-row {
  border: solid var(--soft-aloy) 1px;
  /* border-left: solid var(--soft-aloy) 1px; */
  border-radius: 5px;
  margin-bottom: 0.2rem;
  border-spacing: 0 2rem;
  /* display: table-row; */
}

.pf-v6-c-label.pf-custom-label--ready {
  background-color: #24A148 !important; 
  color: white !important;
}

.pf-c-dashboard-jobs {}

.pf-custom-dropdown {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
}