# .gitignore

# Node dependencies
**/node_modules

# Log files (optional but good practice)
*.log

# Python virtual environment in python-scripts
python-scripts/venv/

# macOS system files
**/.DS_Store